.align-center {
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

button {
  color: white;
  margin: 1em;
  border-radius: 5px;
  font-size: 30px;
}

.yes {
  background-color: green;
  height: 2em;
  width: 5em;
}

.no {
  background-color: red;
  height: 2em;
    width: 5em;
}

.no-border {
  border: none;
}
